In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [84]:
class newLR:
    def __init__(self):
        self.w = None
        self.b = None

    def fit(self,X_train, y_train):
        X_train = np.insert(X_train,0,1,axis=1)
        
        betas = np.linalg.inv(np.dot(X_train.T,X_train)).dot(X_train.T).dot(y_train)
        self.b = betas[0]
        self.w = betas[1:]
        

    def predict(self,X):
        return np.dot(X, self.w)+self.b
    

    def cost(self,X,y):
        m = X.shape[0]
        return (1/(2*m)) * np.sum((y - self.predict(X))**2)
    
    # def fitGradientDescent(self,X_train,y_train):
    #     m = len(X_train)
    #     for i in range(0,m):
    #         for j in range()

NameError: name 'self' is not defined

In [65]:
df = pd.read_csv('placement.csv')

In [66]:
df.head()

   cgpa  package
0  6.89     3.26
1  5.12     1.98
2  7.82     3.25
3  7.42     3.67
4  6.94     3.57

In [67]:
df['cgpa'] = df['cgpa'].fillna(0)
df['package'] = df['package'].fillna(0)

df.insert(1,"IQ",np.random.normal(loc=0,scale=1,size=len(df)))

In [68]:
df = df.drop("IQ", axis=1, inplace=False)

In [69]:
df.insert(1,"IQ",np.random.randint(4,8) )

In [70]:
df

     cgpa  IQ  package
0    6.89   7     3.26
1    5.12   7     1.98
2    7.82   7     3.25
3    7.42   7     3.67
4    6.94   7     3.57
..    ...  ..      ...
195  6.93   7     2.46
196  5.89   7     2.57
197  7.21   7     3.24
198  7.63   7     3.96
199  6.22   7     2.33

[200 rows x 3 columns]

In [71]:
X= df.iloc[:,0:2].values
y = df.iloc[:,2].values

In [72]:
X.shape

(200, 2)

In [73]:
# Xmax = X.max()
# Xmin = X.min()

# for i in range(0,len(X)):
#     X[i] = (X[i]-Xmin)/(Xmax-Xmin)

In [74]:
X_train = X[:140]
X_val = X[140:180]
X_test = X[180::]

y_train = y[:140]
y_val = y[140:180]
y_test = y[180::]

In [75]:
mymodel = newLR()

In [76]:
mymodel.fit(X_train,y_train)

In [77]:
mymodel.w , mymodel.b

(array([ 0.58283454, -0.66412842]), np.float64(1.4131640624999997))

In [78]:
mymodel.predict(X_test)

array([ 0.37201092,  1.55516503,  0.19133222,  1.00730057,  1.35700129,
        0.44195107,  1.33368791,  0.41280934,  1.04809899,  1.49105323,
        0.37201092,  1.00730057,  1.57265007, -0.57218103,  1.36282964,
        0.80330848,  0.19716056,  0.96650215,  1.21129266,  0.38949596])

In [79]:
mymodel.cost(X_test,y_test)

np.float64(2.506733516618899)

In [88]:
mymodel.w.shape

(2,)